.hide
{
            display: none;
}
        
.content
{
    border: 2px solid #999;
    padding: 10px;
}

.btnMargin
{
    margin: 2px 0 0 2px;
}

.keyMessageLblError
{
    color: #000;
        font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    
}